<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <style>
            body {
                width: 90%;
                margin-left: 15px;
            }
            ul {
                list-style-type: none;
            }
            .boldText {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        {% if week %}
            <p><a href="{{ root }}/?day=true">Show current day</a></p>
        {% else %}
            <p><a href="{{ root }}/?week=true">Show full week</a></p>
        {% endif %}
        <h2>{{ title }} - {% if week %}week{% else %}day{% endif %}</h2>
        <p>Today's date is {{ date }}</p>
        {% if not menu %}
            <p style="color: red; font-weight: bold;">Unfortunately there is no menu to show for today</p>
        {% else %}
            {% if week %}
                {% for day, menus in menu.items() %}
                    <h4>{{ day }}</h4>
                    {% for menu_row in menus|slice((menus|length // 3) + 1) %}
                        <div class="row">
                            {% for menu in menu_row %}
                                <div class="col-md-4">
                                    <p class="boldText">{{ menu.name }}</p>
                                    <ul>
                                        {% for course in menu.menu %}
                                            <li>{{ course }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for rest_row in menu|slice((menu|length // 3) + 1) %}
                    <div class="row">
                        {% for rest in rest_row %}
                            <div class="col-md-4">
                                <p class="boldText">{{ rest[0] }}</p>
                                <ul>
                                    {% for course in rest[1] %}
                                        <li>{{ course }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
