<!DOCTYPE html>
<html>
    <head>
        <title>Otaniemi menu</title>
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Open+Sans">
        <style>
            body {
                width: 90%;
                font-family: 'Open Sans', serif;
            }
            ul {
                list-style-type: none;
            }
            .boldText {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        {% if week %}
            <p><a href="/?day=true">Show current day</a></p>
        {% else %}
            <p><a href="/?week=true">Show full week</a></p>
        {% endif %}
        <h2>Otaniemi menu</h2>
        <p>{{ date }}</p>
        {% if not menu %}
            <p style="color: red; font-weight: bold;">Unfortunately there is no menu to show for today</p>
        {% else %}
            {% if week %}
                {% for day, menus in menu.items() %}
                    <h3>{{ day }}</h3>
                    {% for menu in menus %}
                        <p class="boldText">{{ menu.name }}</p>
                        <ul>
                            {% for course in menu.menu %}
                                <li>{{ course }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for rest in menu  %}
                    <p class="boldText">{{ rest[0] }}</p>
                    <ul>
                        {% for course in rest[1] %}
                            <li>{{ course }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
        {% endif %}
    </body>
</html>
