<!DOCTYPE html>
<html>
    <head>
        <title>Otaniemi menu</title>
        <style>
            body {
                width: 90%;
            }
            /* th {
               text-align: left;
               padding-right: 15px;
               } */
        </style>
    </head>
    <body>
        <h3>Otaniemi menu</h3>
        <p>{{ menu }}</p>
    </body>
</html>
