<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{ title }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a {% if not week %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %}
                                                href="{{ root }}?day=true">Day menu</a>
                        </li>
                        <li class="nav-item">
                            <a {% if week %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %}
                                            href="{{ root }}?week=true">Week menu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">
            <h3>{% if week %}Week menu{% else %}Day menu{% endif %}</h3>
            <p style="font-size: 1.1em;">Today is {{ date }}.</p>
            {% if not menu %}
                <div class="alert alert-danger" role="alert">
                    There are no menus to show for today
                </div>
            {% else %}
                {% if week %}
                    <br>
                    {% for day, menus in menu.items() %}
                        <h4>{{ day }}</h4>
                        {% for menu_row in menus %}
                            <div class="row">
                                {% for menu in menu_row %}
                                    <div class="col-md-4">
                                        <strong>{{ menu.name }}</strong>
                                        <ul>
                                            {% for course in menu.menu %}
                                                <li>{{ course }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for rest_row in menu %}
                        <div class="row">
                            {% for rest in rest_row %}
                                <div class="col-md-4">
                                    <strong>{{ rest[0] }}</strong>
                                    <ul>
                                        {% for course in rest[1] %}
                                            <li>{{ course }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </main>
    </body>
</html>
